.books-tools .item-control{
    margin: 3px;
}

.books-page .card {
    padding: 10px;
}

.books-form {
    height: 187px;
}

.books-form .form-button {
    height : 40px;
    float: right;
}

.books-form .form-label {
    height : 40px;
}

.red-text {
    color: crimson;
}

.red-box {
    border: 2px solid crimson;
}