.publishers-tools .item-control{
    margin: 3px;
}

.publishers-page .card {
    padding: 10px;
}

.publishers-form {
    height: 40px;
}

.publishers-form .form-button {
    height : 40px;
    float: right;
}

.publishers-form .form-label {
    height : 40px;
}

.red-text {
    color: crimson;
}

.red-box {
    border: 2px solid crimson;
}